@import url(colors.css);
@import url(fonts.css);

#card-container {
    width: auto;
    height: auto;
    margin: auto 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-image {
    width: 100%;
    border-radius: 12px;
    height: 250px;
    object-fit:contain;
}

.card {
    width: 25vw;
    height: auto;
    background-color: var(--tertiary-light-color);
    padding: 1rem;
    border-radius: 12px;
    border: 2px solid var(--primary-dark-color);
    margin: 2rem auto;
}

.card-inner-container {
    padding: 8px 8px 8px 8px;
    height: auto;
    width: 100%;
}

.project-name {
    width: auto;
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: var(--tertiary-dark-color);
    margin: 0.5rem auto 2rem auto;
}

.tag {
    padding: 4px 8px;
    border: 2px solid var(--tertiary-dark-color);
    color: var(--tertiary-dark-color);
    border-radius: 50px;
    font-size: 1 rem;
    font-weight: bold;
    margin: auto;
}

.project-description {
    font-size: 1.25rem;
    color: var(--tertiary-dark-color);
    line-height: 150%;
    margin: 2rem 0.5rem;
}

.button-card {
    border:none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: var(--tertiary-dark-color);
    color: var(--tertiary-light-color);
    display: block;
    margin: auto auto 5px auto;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    bottom: 0;
}

.button-card:hover, .button-card:focus {
    color: var(--tertiary-dark-color);
    background-color: var(--tertiary-light-color);
}
